GEMINI_API_KEY=gemini_api_key
MODEL=gemini-3.1-flash-lite
WEATHER_API=weather_api_key
CLIENT_ID=shopify_cient_id
CLIENT_SECRET=shopify_client_secret
TAVILY_API_KEY=tavily_api_key
RAZORPAY_KEY_ID=razorpay_key_id
RAZORPAY_KEY_SECRET=razorpay_key_secret
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
API_PORT="8010"
AC_SESSION_PERSIST=1